

<style>
    .btn:hover {
        background-color: lightgreen;
        right: 0px;
    }

    p {
        color: gray;
        font-weight: bold;
    }


    .column {
        float: left;
        width: 19%;
        margin: 3%;
    }

    /* Remove extra left and right margins, due to padding in columns */
    .row {
        margin: 0 -5px;
    }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

    /* Style the counter cards */
    .card {
        border: groove;
        border-color: #027dc5;
        border-radius: 10%;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        background: linear-gradient(-45deg, #36d1dc, #5b86e5);
    }

    .card:hover {
        transform: scale(1.1);
    }
</style>




<!--<div class="btn-group-vertical" style="width:100%; padding:200px; background-color:#d9dad9" ;>
    <h2 style="padding-left:42%">Admin Menu</h2>-->
@*<button class="btn" style="font-weight:900">@Html.ActionLink("Admin", "Index", "Admin")</button>*@
<!--<br>
    <button class="btn" style="font-weight:900">@Html.ActionLink("Add Course", "AddCourse", "Courses")
            <p>To add new Teacher</p>
    </button>
    <br>
    <button class="btn" style="font-weight:900">@Html.ActionLink("View", "AddStudent", "Admin")
        <p>To add new Student</p>
    </button>
    <br>
    <button class="btn" style="font-weight:900">@Html.ActionLink("View Students", "ViewStudents", "Admin")
        <p>To view existing students OR Delete students</p>
    </button>
    <br>
    <button class="btn" style="font-weight:900">@Html.ActionLink("View Teachers", "ViewTeachers", "Admin")
        <p>To view existing Students OR Delete Teachers</p>
    </button>
    <br>
</div>-->

<div class="container" style="padding-top:16%; padding-left:14%;">
    <h2 style="padding-left:29%">Admin Menu</h2>

    <div class="row">
        <div class="column">
            <div class="card" style="width: 16rem; height:25rem">
                
                <div class="card-body">
                    <h4 class="card-title" style="color:black; font-weight:bold">Add Teacher</h4>
                    <h6 class="card-subtitle mb-2 text-muted" style="color:black; font-weight:bold">To add new Teacher</h6>
                    <br />
                    <button class="btn" style="font-weight:900">@Html.ActionLink("Add Course", "AddCourse", "Courses")</button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="width: 16rem;height:25rem">
               
                <div class="card-body">
                    <h4 class="card-title" style="color:black; font-weight:bold">View Courses</h4>
                    <h6 class="card-subtitle mb-2 text-muted" style="color:black; font-weight:bold">To view existing courses</h6>
                    <button class="btn" style="font-weight:900">@Html.ActionLink("View Courses", "ViewCourses", "Courses")</button>
                </div>
            </div>
        </div>
    </div>
</div>