@model PrometheusWeb.Data.UserModels.CourseUserModel
@{
    ViewBag.Title = "UpdateCourse";
}
<style>
    body {
        background-color: #d9dad9;
        font-family: 'Roboto', sans-serif;
        color: black;
    }

    .login-box {
        margin-top: 50px;
        height: auto;
        background-color: white;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .login-key {
        height: 100px;
        font-size: 80px;
        line-height: 100px;
        background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .login-title {
        margin-top: 15px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 2px;
        margin-top: 15px;
        font-weight: bold;
        color: black;
    }

    .login-form {
        margin-top: 25px;
        text-align: left;
    }

    input[type=text] {
        background-color: #f8f8f6;
        border: none;
        border-bottom: 2px solid #0DB8DE;
        border-top: 0px;
        border-radius: 0px;
        font-weight: bold;
        outline: 0;
        margin-bottom: 20px;
        padding-left: 0px;
        color: black;
    }

    input[type=password] {
        background-color: #f8f8f6;
        border: none;
        border-bottom: 2px solid #0DB8DE;
        border-top: 0px;
        border-radius: 0px;
        font-weight: bold;
        outline: 0;
        padding-left: 0px;
        margin-bottom: 20px;
        color: black;
    }

    .form-group {
        margin-bottom: 1px;
        outline: 0px;
    }

    .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 2px solid #0DB8DE;
        outline: 0;
        background-color: #f8f8f6;
        color: black;
    }

    input:focus {
        outline: none;
        box-shadow: 0 0 0;
    }

    label {
        margin-bottom: 0px;
        color: black;
        font-weight: 700;
    }

    .form-control-label {
        font-size: 10px;
        color: #6C6C6C;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .btn-outline-primary {
        border-color: #0DB8DE;
        color: #0DB8DE;
        border-radius: 0px;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

        .btn-outline-primary:hover {
            background-color: #027dc5;
            right: 0px;
        }

    .login-btm {
        float: left;
    }

    .login-button {
        padding-left: 210px;
        padding-right: 175px;
        text-align: right;
        margin-bottom: 25px;
    }



    .login-text {
        text-align: left;
        padding-left: 0px;
        color: #A2A4A4;
    }

    .loginbttm {
        padding: 0px;
    }
</style>
<div style="padding-left:700px; ">
    <h2>Update Course</h2>
</div>
@using (Html.BeginForm("UpdateCourse", "Courses", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div style="padding-left:665px; ">
        <h4>Create a new course.</h4>
    </div>
    <hr />
    <button class="btn btn-primary " style="margin-right:1%; color:white">
        @Html.ActionLink("Admin Menu", "Index", "Admin", null, new { @style = "color:White;" })
    </button>
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    @Html.HiddenFor(model => model.CourseID)
    <div class="form-group" style="padding-left:540px">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="form-group" style="padding-left:540px">
        @Html.LabelFor(m => m.StartDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "datepicker" } })
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
    </div>
    <div class="form-group" style="padding-left:540px">
        @Html.LabelFor(m => m.EndDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "datepicker" } })
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>
    </div>
    <div class="form-group" style="padding-left:750px">
        <input type="submit" value="Submit" class="btn-primary" />
    </div>
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "1990:2021"
            });
        });
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        $(function () {
            var errorMessage = '@TempData["ErrorMessage"]'
            if (errorMessage != '')
                alertify.error(errorMessage);
        });
    </script>
}